/*-- scss:functions --*/

/*-- scss:defaults --*/

/*-- scss:rules --*/

/*-- fonts --*/

@font-face {
  font-family:  Noto Serif;
  src: url("fonts/notoserif-variable.woff2");
  font-style: normal;
}

/*-- rules --*/

h1.title {
  font-family: Noto Serif, Serif;
  font-weight: 500;
  font-size: 70px;
  color: #22756d;
 }
 
 h1, h1 .header-section-number {
  font-family: Noto Serif, Serif;
  font-weight: 400;
  font-size: 50px; 
  color: #22756d;
 }
 
 h2 {
  font-family: Noto Serif, Serif;
  font-weight: 400;
  font-size: 30px;
 }
 